{% extends "layout.html.twig" %}

{% block content %}
    <div class="wrapper--main-inner">
        {% include '@StarterkitAreas/Areas/areablock/mainAreablock.html.twig' with {'name': 'main-areablock', 'type' : 'content'} %}
    </div>
{%  endblock %}